{% extends 'main/base.html' %}

{% block title %}
Создать заявку
{% endblock %}

{% block content %}
    <h1>Создать заявку</h1>
{#     enctype обеспечивает правильное прикрепление загрузочного файла к запросу#}
    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
{#        {{ form.title }}<br>#}
{#        {{ form.task }}<br>#}
{#        {{ form.image }}<br>#}
        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>

    {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %}
{% endblock %}
